<section class="section">
  <h2>{{i18n.h2_exec}}</h2>
  <div class="meta-grid">
    <div class="meta-row"><span class="k">{{i18n.tc_test_date}}</span><span>{{testConditions.testDateDisplay}}</span></div>
    <div class="meta-row"><span class="k">{{i18n.tc_equipment}}</span><span>{{testConditions.deviceDisplay}}</span></div>
  </div>
</section>
