<!DOCTYPE html>
<html lang="{{#if htmlLang}}{{htmlLang}}{{else}}ro{{/if}}">
<head>
  <meta charset="utf-8" />
  <title>{{#if reportPageTitle}}{{reportPageTitle}}{{else}}Încercare presiometrică (SR EN ISO 22476-5){{/if}} · {{sample.code}}</title>
  <style>{{{combinedCss}}}</style>
</head>
<body>
  {{#if show.header}}{{> header_presiometry}}{{/if}}
  {{#if show.sampleInfo}}{{> sample_info_presiometry}}{{/if}}
  {{#if show.testConditions}}{{> test_conditions_presiometry}}{{/if}}
  {{#if show.specimenPhotos}}{{> specimen_photos}}{{/if}}
  {{#if show.measurements}}{{> measurements_table}}{{/if}}
  {{#if show.results}}{{> results_table}}{{/if}}
  {{#if charts.presioPRSvg}}
    <h2>{{i18n.h2_charts}}</h2>
    <div class="figure">
      {{{charts.presioPRSvg}}}
    </div>
    {{#if charts.presioPdRSvg}}
      <div class="figure" style="margin-top: 12px;">
        {{{charts.presioPdRSvg}}}
      </div>
    {{/if}}
  {{/if}}
  {{#if show.observations}}{{> observations_presiometry}}{{/if}}
  {{#if show.signatures}}{{> signatures}}{{/if}}
  {{#if show.footer}}{{> footer_presiometry}}{{/if}}
</body>
</html>
